body {
    background-image: url(img/bggif.gif);
}
.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
}
.hero {
    max-width: 1300px;
    margin: 0 auto;
}
.logo {
    padding:0 0 0 0;
}
.nav-item {
    padding-right: 30px;
}
.hero-txt {
    padding-top: 100px;
}
.mobile {
    margin-top: 20px;
}
.web {
    width: 500px;
}
.profile {
    margin: 0 auto;
}
.html {
    width: 260px;
}
.footer{
    margin-bottom: -50px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="logo"] {
        width: 200px;
    }
    [class*="profile"] {
        width: 200px;
        text-align: center;
    }
    [id*="dl"] {
        margin-top: 10px;
    }
    [class*="web"] {
        width: 365px;
    }
    [class*="mobile"] {
        width: 365px;
    }

}


@media only screen and (max-width: 768px){
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
  }